@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Raleway' , sans-serif;
    
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    width: 95%;
    margin: 0 auto;
}

/*typography
=================*/

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

/*buttons*/

.button {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 5px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-accent {
    color: #00ff6c;
    border-color: #111;
}

.button-accent:hover,
.button-accent:focus {
    background: #00ff6c;
    color: #232323;
}

/*header
=================*/

header {
    position: absolute;
    width: 100%;
    margin: 1em;
}


nav ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 1em;
}

nav ul li:hover
nav ul li:focus {
    background: transparent;
    color: #00ff6c;
}


nav a {
    font-weight:900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .5em;
    color: #111;
}

nav a:hover,
nav a:focus {
    color: #00ff6c;
}


/*HOME-HERO */

.home-hero {
    background-image:url(img/office3.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #fff;
}

.home-hero a {
    display: inline-block;
}

.home-about-textbox {
    background-color: #232323;
    padding: 3em;
    width: 100vw;
    margin-left: -2.5vw;
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
}

.home-about-textbox h1 {
    color: #00ff6c;
    background: #232323;
    padding: 0 .25em;
}

.home-about-textbox p {
    color: #fff;
}

.index-links div h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px; 
    margin: 0;
}

.footer {
    background: #162c3b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li {
    list-style: none;
}
.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.footer ul li a img {
    filter: invert(1);
    max-width: 40px;
}

.footer p {
    color: #fff;
}

figure {
    margin: 0;
    height:0 auto;
}

/* PORTFOLIO */


.port-item {
    margin: 0;
    position: relative;

}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 1.75em;
    left: 0;
    right: 0;
}
.port-item img {
    width:100%;
    height: 300px;
    object-fit: cover;
    
}

/*  BLOGS PAGE START  */

.blog-home {
    background-image:url(img/blog-title.jpeg);
    background-size: cover;
    background-position: center;
    padding: 7em 0;
    color: #fff;
}

.blog1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #111;
}

.blog-textbox {
    background-color: #111;
    width: 95vw;
}


.blog-item1 img {
    width: 75vw;
    height: 35vh;
}

.blog-textbox h1 {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: .5em;
    background-color: #111;
    width: 100%;
    color: #fff;
}

.blog-textbox h3 {
    background: #7F8FA3;
    margin: 0;
}

.blog-textbox p {
    font-size: 1.2em;
    color: #fff;
    padding-bottom: .2em;
    background-color:#111;
    margin: 0;
}

/*   INTERESTS PAGE START   */

.interest-home {
    background-image:url(img/office2.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #fff;
}

.interest-about-textbox {
    background-color: #0000A3;
    padding: 3em;
    width: 100vw;
    margin-left: -2.5vw;
    outline: 2px solid #FFD53D;
    outline-offset: -2.5em;
}

.interest-about-textbox h1 {
    color: #FFD53D;
    background: #0000A3;
    padding: 0 .25em;
}

.interest-about-textbox p {
    color: #fff;
    text-align: center;
}

/*   PROFESSIONAL  */

.professional-home {
    background-image:url(img/manufacturing2.jpeg);
    background-size: cover;
    background-position: center;
    padding: 7em 0;
    color: #fff;
}

/*  CONTACT ME PAGE  */

.contact-home {
    background-image:url(img/contact-title.jpeg.crdownload);
    background-size: cover;
    background-position: center;
    padding: 7em 0;
    color: #fff;
}

.contact1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.contact-textbox {
    background-color: #fff;
    width: 100vw;
}


.contact-item1 img {
    width: 75vw;
    height: 35vh;
}

.contact-textbox h1 {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: .5em;
    background-color: #fff;
    width: 100%;
    color: #111;
    border-bottom: #111 1em solid;
}

.contact-textbox h3 {
    background: #7F8FA3;
    margin: 0;
}

.contact-textbox p {
    font-size: 1.5em;
    color: #fff;
    padding-bottom: .2em;
    background-color:#0000A3;
    margin: 0;
    padding-right: 0;
}

.about {
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    display:flex;
}

.about-p {
    text-align: center;
    padding:1em ;
}

.about .contentBx {
    background:  #162c3b;
    padding: 100px;
    width: 50%;
}

.imgBx2 {
    background-image: url(img/me.png);
    display:flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    width: 50vw;
    padding: 1em;
}
.redbg {
    background: url(img/red.jpg) !important;
    background-size: cover;
    background-position: center;
    width: 50vw;
}
.form .inputBx {
    margin-bottom: 40px;
}
.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid;
}
.form .inputBx::placeholder {
    color: #fff;
}
.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    border-bottom: 2px solid;
}
.form .inputBx textarea::placeholder {
    color: #fff;
}
.form .inputBx input[type="submit"] {
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
}



/*  MEDIA BREAKPOINT  IPAD */

@media (min-width: 820px) {

    .button {
        font-size: 1.15em;
        padding: .5em 1.75em;
    }

    .logo {
        padding: 0 50px;
    }
    
    img.logo {
        height: 3.5em;
    }

    nav {
        padding: 0 20px;
    }
    
    nav ul {
        display: inline-block;
        padding: 0 10px;
    }
    nav ul li a {
        font-size: 1.1em;
    }

    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }

    .home-hero a {
        display: none;
    }

    .port-item {
        width: 50%;
        float: left;
    }

    footer {
        width: 100%;
    }

    .interest-home {
        height: 78vh;
        padding-top: 35vh;
    }
    
    .blog-textbox p {
        font-size: 1.5em;
        padding-bottom: .2em;
    }

    .blog-textbox h3 {
        font-size: 2em;
        background: #7F8FA3;
        color: #fff;
        display:flex;
        justify-content: center;
        align-content: center;
    }


}
/*  MEDIA BREAKPOINT DESKTOP*/

@media (min-width: 1400px) {
    .button {
        font-size: 1.2em;
        padding: .5em 1.75em;
    }

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 3em;
        line-height: 1.25em;
    }
    
    .logo {
        float: left;
    }

    img.logo {
        height: 4em;
        padding-top: .7em;
    }

    nav {
        float: right;
        padding: 0 20px;    
    }

    nav ul {
        display: inline-block;
    }

    nav ul li a {
        font-size: 1.6em;
    }

    .home-hero {
        height: 81.5vh;
        padding-top: 35vh;
    }

    .home-hero a {
        display: none;
    }

    .port-item {
        width: 25%;
    }

    footer {
        width: 100%;
    }

    .interest-home {
        height: 100vh;
        padding-top: 35vh;
    }

    .blog-textbox p {
        font-size: 3em;
        padding-bottom: .2em;
    }

    .blog-textbox h1 {
        font-size: 4em;
        font-weight: 550;
        text-transform: uppercase;
        padding-top: .5em;
    }

    .blog-textbox h3 {
        font-size: 2em;
        background: #7F8FA3;
        padding:.5em 0;
        display:flex;
        justify-content: center;
        align-content: center;
    }

    .professional-home {
        height: 100vh;
        padding-top: 35vh;
        
    }
}

/*  MEDIA BREAKPOINT WIDE SCREEN*/

@media (min-width: 1800px) {
    img.logo {
        height: 8em;
        padding-top: .7em;
    }

    nav ul li a {
        font-size: 4em;
    }

    .blog-item1 img {
        width: 40vw;
        height: 50vh;
    }

    .button {
        font-size: 2em;
        padding: 1em 2em;
        
    }

}